div{
    margin:0;padding:0;
    position:relative;
}

.header > a{
    float:right;
    font-family:Helvetica, Arial, sans-serif;
    font-size:13px;
    margin:15px 15px 0px 0px;
    color:#444444;
    display:inline-block;
    text-decoration: none;
}

#images:hover, #mail:hover{
    color:#000000;
    text-decoration: underline;
}

.header > div{
    height:17px;
    width: 17px;
    background-color:#777777;
    float:right;
    display:inline-block;
}
.header{
    height:50px;
}

#icon{
    border-radius:20px;
    float:right;
    margin: 7px 21px 0px 0px;
    display:inline-block;
}

#circle{
    height:20px;
    width:20px;
    border-radius:20px;
    margin:13px 19px 0px 0px;
}

#grid{
    margin:15px 27px 0px 0px;
}

#grid:hover, #circle:hover{
    background-color: #000000;
}

#images{
    margin-right:21px;
}

#john{
    float:right;
    font-family:Helvetica, Arial, sans-serif;
    font-size:13px;
    margin:15px 15px 0px 0px;
    color:#ababab;
    display:inline-block;
}

#logo{
    margin: auto;
    width:272px;
    height:92px;
    display:block;
    bottom:0px;
    padding:140px 0px 0px 0px;
}

#search-type{
    width:560px;
    height:27px;
    padding: 5px 5px 5px 5px;
    border: 1px solid #bfbfbf;
    margin: auto;
    font-family: Helvetica, Arial, sans-serif;
    display:block;
    font-size:1.1em;
    background-size:10px 23px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAACrElEQVR42u2Xz2sTQRSAX8VSb1K8iNqKooJH2Ux6Ksn+iPQqxZMIehJB0do/IMhmQWsvHr2KSEGk0tSLIoWIYNUKij20F2/N7iaUZnYT0kYzzhMKs0HDJiTdLcwHDwKZSd63781LBiQSSW9JZdkhzfKm1Rz9mjZp/W9YdEU3vXv4HsQZ40FtNG36q5rls//Ej4tmbSS2T15Mvp3ExOPmEMQNbBtMMEyoljcFcQN7PqyAlqNfIG7gYQ0tYNIaxA1MrJPY3wImbUqBKAXSFv0tBSIVMOkvKRDtGKWN/T6FdqRAxFNoWwpEPIXqUqBT6ALU/UVgu8GW4GD3f6f9TRDYNJTDrk7YbtiqUumHwIYoUJuHERDAS0r4CvgFECgbY+cFAR7KT+g1POmCKFDNw6WggHc3fBtVb4CAoyauBgXIG+g1Xh5mRAGah6cggBd11fK/h7lOprIs0H6uRl6KAo5O7kOv4QmPiwJ4Jqqv4FiwCtXjvD2+tRmfK6kZ/ygI2HritK0rDVGgrClJ6DWMwYC/AGuCBMYcIC2V0CzvjmbRz3j3xUjn6CfeYreUJ2wQkGD75INPX1mFfsEFrrcIYCvdhC4paWQakxajpJMr0C9YFg54i7AsClRmh9/xnr0NHcInzZStk2aLwAcGMAD9pPIazvFKVDD5rdnhJeHLX5RTyRPQHpz5o66emMc9wdlPtvA8wF7Aq2BUHh1525qEo5JtR1WeOXpickO9cJIpyuD6xJmhYiZ5ytWSl3mlnuOaf+2zDaLDXmJrSgZ/MYVEugo+gSh+FkSBa4yd5Ul87DZ5XpFl/AyIEjzYjkau8WqshU2cr13HPbgX4gJOD97n465GZlyVvC9mSKloKI2iTnbwNT+gBX54H+IaXAtxJzE3ycSAFqSAFJACUkAikXD+AHj5/wx2o5osAAAAAElFTkSuQmCC) no-repeat right;
}

.search-type:hover{
    border: 1px solid #003b3f;
}

#search{
    margin-top:31px;
    text-align:center;
}

.buttons{
    height:40%;
    margin: auto;
    display:block;
    padding-top:31px;
    text-align: center;
}

#google-search, #lucky{
    height:36;
    background-color:#f5f5f5;
    border-radius: 1px;
    border: 1px solid #f5f5f5;
    padding:11px 15px 8px 15px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight:700;
    color:#858585;

}

#google-search:hover, #lucky:hover{
    border: 1px solid #e5e5e5;
    color:#000000;
}

#google-search{
    margin-right:2px;
    padding-right:16px;
}

#lucky{
    margin-left:2px;
    padding-left:16px;
}


.footer{
    margin: 0px auto;
    position:fixed;
    bottom:0;
    left:0;
    right:0;
    padding:12px 0px;
    width:100%;
    border: 1px solid #dedede;
    background-color: #f5f5f5;
}

.footer a {
    display: inline-block;
    text-decoration:none;
    color:#555;
    font-family:Helvetica, Arial, sans-serif;
    font-size:13px;
}

.footer a:hover{
    text-decoration: underline;
}

.footer-left{
    float:left;
    margin-left:31px;
}

.footer-right{
    float:right;
    margin-right:31px;
}


#far-left{
    float:left;
    margin-left:29px;
}